body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #34cceb;
  text-align: center;
  margin-top: 20px;
}

.game-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.game-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 30%;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.game-card img {
  width: 375px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
}

.game-card h2 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}

.game-card p {
  font-size: 1.2em;
  color: #34cceb;
}

.game-card button {
  background-color: #34cceb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.game-card button:hover {
  background-color: #2a9dbb;
}

/* Estilo da barra no topo */
.top-bar {
  background-color: #34cceb;
  padding: 15px 0;
  text-align: center;
  border-bottom: 5px solid #2a9dbb;
  position: relative;
}

.top-bar span {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Ícone do menu */
.menu-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Menu lateral */
.side-menu {
  height: 100%;
  width: 0; /* Inicialmente fechado */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a9dbb;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: #34cceb;
}

.side-menu .close-btn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
}
